{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Liver Disease Classification</title>
</head>

<body id="body">

    <div class="container" id="breadcrumb">
        <div class="row">
            <ol class="col-12 breadcrumb">
               <li class="breadcrumb-item"><a href="doctors.html">Doctors</a></li>
               <li class="breadcrumb-item active">Add Doctor</li>
            </ol>
        </div>
    </div>

    <div class="row row-content align-items-center">

        <div class="col"></div>

        <div class="col-md-6 align-items-center">
            <div class="card">
                <h3 class="card-header text-black">Add Doctor</h3>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <dl class="row">
                            <dt class="col-6">Name</dt>
                            <dd class="col-6"><input type="text" name="fullname" required></dd>

                            <dt class="col-2"><input type="submit" name="" id=""></dt>
                        </dl>
                    </form>
                    
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>





</body>

</html>

{% endblock content %}