{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Liver Disease Classification</title>
</head>

<body>

    <div class="row row-content align-items-center" id="container">    
        <div class="col-4 col-sm col-md-6 offset-2">
            <div class="media">
                <div class="media-body">
                    <h2 class="mt-0">Cirrhosis</h2>
                    <p class="d-none d-sm-block">Cirrhosis is severe scarring (fibrosis) of the liver caused by long-term liver damage. The scar tissue prevents the liver from working properly. Cirrhosis is sometimes called end-stage liver disease because it happens after other stages of damage from conditions that affect the liver</p>
                </div>
            </div>
        </div>
    </div>

    <span class="" id="divider"></span>

    <div class="row row-content align-items-center" id="container">    
        <div class="col-4 col-sm col-md-6 offset-2">
            <div class="media">
                <div class="media-body">
                    <h2 class="mt-0">Hepatosteatosis</h2>
                    <p class="d-none d-sm-block">Fatty liver (hepatosteatosis) is the earliest abnormality in the pathogenesis of Non-Alcoholic Fatty Liver disease (NAFLD) and Alcoholic Fatty Liver Disease (AFLD). When unchecked, both NAFLD and AFLD lead to steatohepatitis, fibrosis, cirrhosis, hepatocellular carcinoma (HCC) and eventual death
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-content align-items-center" id="container">    
        <div class="col-4 col-sm col-md-6 offset-2">
            <div class="media">
                <div class="media-body">
                    <h2 class="mt-0">Fibrosis</h2>
                    <p class="d-none d-sm-block">Liver fibrosis is the excessive accumulation of extracellular matrix proteins including collagen in the liver. Advanced liver fibrosis results in cirrhosis, liver failure, and often requires liver transplantation. </p>
            </div>
        </div>
    </div>


</body>

</html>

{% endblock content %}