{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Liver Disease Classification</title>
</head>

<body id="body">

    <div class="row row-content align-items-center">

        <div class="col"></div>

        <div class="col-md-6 align-items-center">
            <div class="card">
                {% if 'result' in request.session %}
                <h3 class="card-header text-black">{{request.session.role}}</h3>
                {% endif %}
                <h3 class="card-header text-black">Test</h3>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <dl class="row">
                            <dt class="col-6">Gender</dt>
                            <dd class="col-6"><input type="text" name="username" required></dd>
                            <dt class="col-6">Age</dt>
                            <dd class="col-6"><input type="text" name="password" required></dd>
                            <dt class="col-6">Estimated Salary</dt>
                            <dd class="col-6"><input type="text" name="password" required></dd>
                            
                            <dt class="col-2 mt-0"><input value="Login" type="submit" name="" id=""></dt>
                        </dl>
                    </form>
                    
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>

</body>

</html>

{% endblock content %}