{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>Liver Disease Classification</title>
</head>

<body>
    <div class="container" id="breadcrumb">
        <div class="row">
            <ol class="col-12 breadcrumb">
               {% if request.session.role == 'doctor' %}
               <li class="breadcrumb-item"><a href="{% url 'patients' %}">{{report.patient_name}}</a></li>
               {% endif %}
               {% if request.session.role == 'patient' %}
               <li class="breadcrumb-item"><a href="{% url 'profile' %}">My Profile</a></li>
               {% endif %}
               <li class="breadcrumb-item active">Report {{report.id}}</li>
            </ol>
        </div>
    </div>

<div class="row row-content align-items-center">
    <div class="col"></div>
    <div class="col-6 col-sm-9 align-items-center">
        <div class="col-md-12">
            <form action="post"></form>
            <div class="card">
                <h3 class="card-header  text-black">Report {{report.id}}</h3>
                <div class="card-body">
                    <dl id="card" class="row">
                        <dt class="col-6">Full Name</dt>
                        <dd id="name" class="col-6 ">{{report.patient_name}}</dd>
                        <dt class="col-6">Pathologist</dt>
                        <dd id="pathologist" class="col-6 pathologist">{{report.pathologist}}</dd>
                        <dt class="col-6">Date</dt>
                        <dd id="date" class="col-6 date">{{report.date}}</dd>
                        <dt class="col-6">Notes</dt>
                        <dd id="notes" class="col-6 notes">{{report.notes}}</dd>
                        <dt class="col-6">Classification</dt>
                        <dd id="classification" class="col-6 classification">{{report.classification}}</dd>
                    </dl>
                    <div class="col-md-2 mt-5">
                        <!-- <button onclick="toggleEditReport"><span class="fa fa-edit fa-lg"></span></button> -->
                        <a href="{% url 'deletereport' report.id %}">
                            <button onclick="" type="submit" class="btn btn-danger">Archive Report</button>
                        </a>
                    </div>
                    <div class="col-md-6 mt-5">
                    
                </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    <div class="col"></div>
</div>



</body>

</html>

{% endblock content %}